apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubeflare-flask
  labels:
    app: kubeflare-flask
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kubeflare-flask
  template:
    metadata:
      labels:
        app: kubeflare-flask
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: kubeflare-flask
          image: kubeflare-flask-app:v1.0.0
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
          ports:
          - containerPort: 5000
          env:
          - name: ENV
            value: DEV
