apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubeflare-flask
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kubeflare-flask
  template:
    metadata:
      labels:
        app: kubeflare-flask
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
        - name: kubeflare-flask
          image: localhost:5000/kubeflare-flask-app:dev
          imagePullPolicy: IfNotPresent
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
          ports:
            - containerPort: 5000
          env:
            - name: ENV
              value: DEV
